.page {
    // .page__hero
    &__hero {
        padding: toRem(60) toRem(0) toRem(211);
        @media (max-width: toEm($pc)) {
            padding: toRem(60) toRem(0) toRem(130);
        }
        @media (max-width: toEm($tablet)) {
            padding: toRem(60) toRem(0);
        }
    }
    // .page__product
    &__product {
        margin-bottom: toRem(41);
    }
    // .page__brands
    &__brands {
        padding: toRem(41) toRem(0) toRem(66);
        @media (max-width: toEm($mobileSmall)) {
            padding: toRem(20) toRem(0) toRem(40);
        }
    }
    // .page__features
    &__features {
    }
    // .page__benefits
    &__benefits {
        padding: toRem(140) toRem(0);
        @media (max-width: toEm($tablet)) {
            padding: toRem(100) toRem(0);
        }
        @media (max-width: toEm($mobile)) {
            padding: toRem(80) toRem(0);
        }
        @media (max-width: toEm($mobileSmall)) {
            padding: toRem(60) toRem(0);
        }
    }
    // .page__prices
    &__prices {
        padding: toRem(124) toRem(0);
        @media (max-width: toEm($pc)) {
            padding: toRem(100) toRem(0);
        }
        @media (max-width: toEm($tablet)) {
            padding: toRem(80) toRem(0);
        }
        @media (max-width: toEm($mobile)) {
            padding: toRem(60) toRem(0);
        }
    }
    // .page__testimonials
    &__testimonials {
        padding: toRem(121) toRem(0);
        @media (max-width: toEm($pc)) {
            padding: toRem(100) toRem(0);
        }
        @media (max-width: toEm($tablet)) {
            padding: toRem(80) toRem(0);
        }
        @media (max-width: toEm($mobile)) {
            padding: toRem(60) toRem(0);
        }
    }
    // .page__banner
    &__banner {
        padding: toRem(120) toRem(0) toRem(90);
        @media (max-width: toEm($pc)) {
            padding: toRem(100) toRem(0) toRem(90);
        }
        @media (max-width: toEm($mobileSmall)) {
            padding: toRem(80) toRem(0);
        }
    }
}

// =============================================================================================================

.hero {
    position: relative;
    @media (max-width: toEm(870)) {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: rgba(255, 255, 255, 0.9);
        }
    }
    // .hero__container
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: toRem(30);
        @media (max-width: toEm(870)) {
            flex-direction: column;
        }
    }
    // .hero__content
    &__content {
        flex: 1 0 toRem(540);
        @media (max-width: toEm($tablet)) {
            flex: 1 1 toRem(540);
        }
        @media (max-width: toEm(870)) {
            flex: 0 1 auto;
        }
    }
    // .hero__block-info
    &__block-info {
        &:not(:last-child) {
            margin-bottom: toRem(40);
            @media (max-width: toEm($mobileSmall)) {
                margin-bottom: toRem(30);
            }
        }
        @media (max-width: toEm(870)) {
            .block-info__text {
                color: #616161;
            }
        }
        @media (max-width: toEm($mobile)) {
            .block-info__wrapper {
                justify-content: center;
                text-align: center;
            }
        }
    }
    // .hero__links
    &__links {
        display: flex;
        align-items: center;
        gap: toRem(24);
        font-size: toRem(24);
        line-height: 1.6;
        @media (max-width: toEm($tablet)) {
            flex-direction: column;
            align-items: flex-start;
        }
        @media (max-width: toEm($mobile)) {
            align-items: center;
            gap: toRem(15);
        }
    }
    // .hero__button
    &__button {
        min-width: toRem(225);
        min-height: toRem(75);
        padding: toRem(18);
        color: #fff;
        background-color: #ff7235;
        text-align: center;
        border-radius: toRem(8);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: toRem(14);
        transition: all 0.3s;
        &::after {
            content: "";
            flex: 0 0 toRem(18);
            width: toRem(18);
            height: toRem(10);
            background: url("../img/icons/arrow-down-white.svg") 0 0 / contain no-repeat;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: #292830;
            }
        }
    }
    // .hero__app
    &__app {
        color: #bdbdbd;
        @media (max-width: toEm(870)) {
            color: #616161;
        }
    }
    // .hero__image
    &__image {
        flex: 0 1 toRem(538);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media (max-width: toEm(870)) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
        }
    }
}

// =============================================================================================================

.product {
    position: relative;
    background-color: #ff7235;
    overflow: hidden;
    &::before,
    &::after {
        content: "";
        position: absolute;
    }
    &::before {
        width: toRem(393);
        height: toRem(433);
        left: 0;
        bottom: 0;
        background: url("../img/decor/blob-left.webp") 0 0 / contain no-repeat;
    }
    &::after {
        width: toRem(416);
        height: toRem(453);
        right: 0;
        top: 0;
        background: url("../img/decor/blob-right.webp") 0 0 / contain no-repeat;
    }
    // .product__container
    &__container {
        position: relative;
        z-index: 1;
        padding-top: toRem(87);
        @media (max-width: toEm($mobile)) {
            padding-top: toRem(60);
        }
        @media (max-width: toEm(375)) {
            padding-top: toRem(40);
        }
    }
    // .product__image
    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

// =============================================================================================================

.brands {
    // .brands__container
    &__container {
    }
    // .brands__list
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: toRem(108);
        @media (max-width: toEm($tablet)) {
            column-gap: toRem(60);
        }
        @media (max-width: toEm($mobile)) {
            flex-wrap: wrap;
            column-gap: toRem(80);
            row-gap: toRem(20);
            justify-content: center;
        }
        @media (max-width: toEm($mobileSmall)) {
            column-gap: toRem(50);
        }
    }
    // .brands__item
    &__item {
        @media (max-width: toEm($mobile)) {
            max-width: toRem(150);
        }
        @media (max-width: toEm($mobileSmall)) {
            max-width: toRem(100);
        }
    }
    // .brands__logo
    &__logo {
        max-width: 100%;
        object-fit: contain;
    }
}

// =============================================================================================================

.features {
    // .features__container
    &__container {
        @media (max-width: toEm($mobileSmall)) {
            padding: 0;
        }
    }
    // .features__list
    &__list {
    }
    // .features__item
    &__item {
        @media (max-width: toEm($mobileSmall)) {
            padding: toRem(30) toRem(15);
        }
    }
}

.item-features {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: toRem(30);
    padding: toRem(140) toRem(0);
    &:nth-child(even) {
        flex-direction: row-reverse;
    }
    @media (max-width: toEm($pc)) {
        padding: toRem(100) toRem(0);
    }
    @media (max-width: toEm($tablet)) {
        padding: toRem(80) toRem(0);
    }
    @media (max-width: toEm(870)) {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: rgba(255, 255, 255, 0.9);
        }
        padding: toRem(30) toRem(15);
        margin: toRem(40) toRem(0);
    }
    // .item-features__block-info
    &__block-info {
        flex: 0 1 toRem(540);
        .block-info__sub-title,
        .block-info__text {
            color: #616161;
        }
    }
    // .item-features__image
    &__image {
        flex: 0 1 toRem(540);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
        @media (max-width: toEm(870)) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
        }
    }
}

// =============================================================================================================

.benefits {
    // .benefits__container
    &__container {
    }
    // .benefits__block-info
    &__block-info {
        &:not(:last-child) {
            margin-bottom: toRem(80);
            @media (max-width: toEm($tablet)) {
                margin-bottom: toRem(50);
            }
            @media (max-width: toEm($mobileSmall)) {
                margin-bottom: toRem(35);
            }
        }
        .block-info__wrapper {
            flex-wrap: nowrap;
            align-items: center;
            @media (max-width: toEm($mobile)) {
                flex-wrap: wrap;
            }
        }
        .block-info__text {
            flex: 0 0 toRem(350);
            @media (max-width: toEm($mobile)) {
                flex: 0 1 auto;
            }
        }
    }
    // .benefits__list
    &__list {
        display: flex;
        gap: toRem(30);
        @media (max-width: toEm($mobile)) {
            flex-wrap: wrap;
        }
        @media (max-width: toEm($mobileSmall)) {
            gap: toRem(15);
        }
    }
    // .benefits__item
    &__item {
        flex-basis: calc((100% - 60px) / 3);
        text-align: center;
        border-radius: toRem(12);
        @media (max-width: toEm($mobile)) {
            flex: 1 1 auto;
        }
    }
    // .benefits__link
    &__link {
        width: 100%;
        height: 100%;
        padding: toRem(63);
        transition: all 0.3s;
        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0 0 toRem(50) 0 rgba(0, 0, 0, 0.04);
                .benefits__arrow {
                    transform: scale(1);
                }
            }
        }
        @media (max-width: toEm($tablet)) {
            padding: toRem(30);
        }
        @media (max-width: toEm($pc)) {
            box-shadow: 0 0 toRem(50) 0 rgba(0, 0, 0, 0.04);
        }
    }
    // .benefits__icon
    &__icon {
        margin: 0 auto;
        width: toRem(64);
        height: toRem(64);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &--yellow {
            background-color: rgba(255, 190, 116, 0.05);
        }
        &--red {
            background-color: rgba(226, 89, 139, 0.05);
        }
        &--blue {
            background-color: rgba(77, 18, 238, 0.05);
        }
        img {
            width: toRem(24);
            height: toRem(24);
            object-fit: contain;
        }
        &:not(:last-child) {
            margin-bottom: toRem(24);
            @media (max-width: toEm($mobileSmall)) {
                margin-bottom: toRem(15);
            }
        }
    }
    // .benefits__title
    &__title {
        font-weight: 500;
        font-size: toRem(30);
        &:not(:last-child) {
            margin-bottom: toRem(12);
        }
        @media (max-width: toEm($mobileSmall)) {
            font-size: toRem(25);
        }
    }
    // .benefits__text
    &__text {
        color: #bdbdbd;
        font-size: toRem(14);
        line-height: 163%;
        &:not(:last-child) {
            margin-bottom: toRem(32);
            @media (max-width: toEm($mobileSmall)) {
                margin-bottom: toRem(20);
            }
        }
    }
    // .benefits__arrow
    &__arrow {
        transform: scale(0);
        transition: all 0.3s;
        @media (max-width: toEm($pc)) {
            transform: scale(1);
        }
    }
}

// =============================================================================================================

.prices {
    // .prices__container
    &__container {
    }
    // .prices__title
    &__title {
        font-size: toRem(72);
        font-weight: 700;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: toRem(80);
            @media (max-width: toEm($tablet)) {
                margin-bottom: toRem(50);
            }
            @media (max-width: toEm($mobileSmall)) {
                margin-bottom: toRem(40);
            }
        }
        @media (max-width: toEm($tablet)) {
            font-size: toRem(65);
        }
        @media (max-width: toEm($mobile)) {
            font-size: toRem(60);
        }
        @media (max-width: toEm($mobileSmall)) {
            font-size: toRem(50);
        }
    }
    // .prices__list
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: toRem(30);
        @media (max-width: toEm($tablet)) {
            gap: toRem(15);
        }
        @media (max-width: toEm($mobile)) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: toEm($mobileSmall)) {
            grid-template-columns: auto;
        }
    }
    // .prices__item
    &__item {
    }
}

.item-prices {
    padding: toRem(41) toRem(40) toRem(60);
    border: toRem(1) solid #f5f5f5;
    border-radius: toRem(12);
    transition: box-shadow 0.3s;
    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0 0 toRem(50) 0 rgba(0, 0, 0, 0.04);
        }
    }
    @media (max-width: toEm($tablet)) {
        padding: toRem(30) toRem(20);
    }
    @media (max-width: toEm($mobile)) {
        text-align: center;
    }
    // .item-prices__icon
    &__icon {
        width: toRem(24);
        height: toRem(24);
        object-fit: contain;
        &:not(:last-child) {
            margin-bottom: toRem(24);
            @media (max-width: toEm($mobileSmall)) {
                margin-bottom: toRem(10);
            }
        }
    }
    // .item-prices__title
    &__title {
        font-size: toRem(32);
        font-weight: 600;
        line-height: 162.5%; /* 52/32 */
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
    }
    // .item-prices__list
    &__list {
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
    }
    // .item-prices__item
    &__item {
        display: flex;
        align-items: center;
        gap: toRem(11);
        line-height: 161.111111%; /* 29/18 */
        text-align: left;
        &:not(:last-child) {
            margin-bottom: toRem(8);
        }
        &::before {
            content: "";
            width: toRem(18);
            height: toRem(13);
            background: url("../img/icons/check.svg") 0 0 / contain no-repeat;
        }
        @media (max-width: toEm($mobile)) {
            justify-content: center;
        }
    }
    // .item-prices__price
    &__price {
        font-weight: 600;
        font-size: toRem(24);
        line-height: 162.5%; /* 39/24 */
        span {
            color: #bdbdbd;
            font-size: toRem(20);
            font-weight: 300;
        }
    }
    // .item-prices__text
    &__text {
        font-size: toRem(12);
        line-height: 158.333333%; /* 19/12 */
        color: #bdbdbd;
        &:not(:last-child) {
            margin-bottom: toRem(40);
            @media (max-width: toEm($mobileSmall)) {
                margin-bottom: toRem(25);
            }
        }
    }
    // .item-prices__link
    &__link {
        min-width: toRem(136);
        min-height: toRem(50);
        padding: toRem(10);
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: toRem(14);
        color: #ff7235;
        font-size: toRem(16);
        line-height: 162.5%; /* 26/16 */
        border: toRem(1) solid #ff7235;
        border-radius: toRem(8);
        transition: all 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: #fff;
                background-color: #ff7235;
                path {
                    fill: #fff;
                }
            }
        }
        path {
            transition: fill 0.3s;
        }
    }
}

// =============================================================================================================

.testimonials {
    // .testimonials__container
    &__container {
    }
    // .testimonials__block-info
    &__block-info {
        max-width: toRem(920);
        margin: 0 auto;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: toRem(80);
            @media (max-width: toEm($tablet)) {
                margin-bottom: toRem(50);
            }
        }
    }
    // .testimonials__items
    &__items {
    }
    // .testimonials__swiper
    &__swiper {
    }
    // .testimonials__wrapper
    &__wrapper {
        padding-bottom: toRem(36);
    }
    // .testimonials__slide
    &__slide {
    }
    // .testimonials__item
    &__item {
        position: relative;
        padding: toRem(25) toRem(28);
        border: toRem(1) solid #f5f5f5;
        border-radius: toRem(12);
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: toRem(10);
            background-color: #ff7235;
            border-radius: toRem(12) toRem(12) 0 0;
        }
        &--orange::after {
            background-color: #ff7235;
        }
        &--yellow::after {
            background-color: #ffbe21;
        }
        &--blue::after {
            background-color: #4756df;
        }
        &--lightblue::after {
            background-color: #3ec1f3;
        }
        &--brown::after {
            background-color: #bb7259;
        }
    }
    // .testimonials__text
    &__text {
        color: #000;
        line-height: 162%;
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
    }
    // .testimonials__user
    &__user {
        display: flex;
        align-items: center;
        gap: toRem(12);
        font-size: toRem(16);
    }
    // .testimonials__photo
    &__photo {
        flex: 0 0 toRem(30);
        width: toRem(30);
        height: toRem(30);
        object-fit: contain;
    }
    // .testimonials__name
    &__name {
        font-weight: 700;
        color: #000;
        span {
            font-weight: 400;
            color: #bdbdbd;
        }
    }
    // .testimonials__pagination
    &__pagination {
        .swiper-pagination-bullet {
            flex: 0 0 toRem(12);
            width: toRem(12);
            height: toRem(12);
            border-radius: 50%;
            border: toRem(1) solid #292830;
            background-color: #fff;
            opacity: 1;
            margin: 0;
        }
        .swiper-pagination-bullet-active {
            background-color: #292830;
        }
    }
    .testimonials__pagination.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: toRem(8);
    }
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0;
    }
}

// =============================================================================================================

.banner {
    position: relative;
    background-color: #ff7235;
    color: #fff;
    &::before,
    &::after {
        content: "";
        position: absolute;
    }
    &::before {
        width: toRem(393);
        height: toRem(433);
        left: 0;
        bottom: 0;
        background: url("../img/decor/blob-left.webp") 0 0 / contain no-repeat;
    }
    &::after {
        width: toRem(416);
        height: toRem(453);
        right: 0;
        top: 0;
        background: url("../img/decor/blob-right.webp") 0 0 / contain no-repeat;
    }
    // .banner__container
    &__container {
        max-width: toRem(1325);
        position: relative;
        z-index: 1;
    }
    // .banner__title
    &__title {
        max-width: toRem(920);
        margin: 0 auto;
        font-size: toRem(72);
        font-weight: 700;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
        @media (max-width: toEm($tablet)) {
            font-size: toRem(65);
        }
        @media (max-width: toEm($mobile)) {
            font-size: toRem(60);
        }
        @media (max-width: toEm($mobileSmall)) {
            font-size: toRem(50);
        }
    }
    // .banner__label
    &__label {
        max-width: toRem(920);
        margin: 0 auto;
        font-size: toRem(36);
        font-weight: 500;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: toRem(11);
            @media (max-width: toEm($mobile)) {
                margin-bottom: toRem(40);
            }
        }
        @media (max-width: toEm($mobile)) {
            font-size: toRem(28);
        }
        @media (max-width: toEm($mobileSmall)) {
            font-size: toRem(24);
        }
    }
    // .banner__box
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: toRem(50);
        @media (max-width: toEm($mobile)) {
            justify-content: center;
        }
    }
    // .banner__image
    &__image {
        img {
            width: 100%;
            object-fit: contain;
        }
        @media (max-width: toEm($mobile)) {
            display: none;
        }
    }
    // .banner__link
    &__link {
        flex: 0 0 toRem(213);
        min-width: toRem(213);
        min-height: toRem(60);
        padding: toRem(15);
        text-align: center;
        background-color: #fff;
        color: #ff7235;
        font-size: toRem(22);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: toRem(14);
        border-radius: toRem(8);
        margin-top: toRem(50);
        border: toRem(1) solid #fff;
        transition: all 0.3s;
        @media (any-hover: hover) {
            &:hover {
                background-color: #ff7235;
                color: #fff;
                path {
                    stroke: #fff;
                }
            }
        }
        svg {
            flex: 0 0 toRem(18);
        }
        path {
            transition: stroke 0.3s;
        }
        @media (max-width: toEm($mobile)) {
            margin-top: 0;
        }
    }
}
