.page {
    // .page__hero
    &__hero {
        padding: toRem(60) toRem(0) toRem(211);
        @media (max-width: toEm($pc)) {
            padding: toRem(60) toRem(0) toRem(130);
        }
        @media (max-width: toEm($tablet)) {
            padding: toRem(60) toRem(0);
        }
    }
    // .page__product
    &__product {
        margin-bottom: toRem(41);
    }
    // .page__brands
    &__brands {
        padding: toRem(41) toRem(0) toRem(66);
        @media (max-width: toEm($mobileSmall)) {
            padding: toRem(20) toRem(0) toRem(40);
        }
    }
    // .page__features
    &__features {
    }
    // .page__benefits
    &__benefits {
        padding: toRem(140) toRem(0);
        @media (max-width: toEm($tablet)) {
            padding: toRem(100) toRem(0);
        }
        @media (max-width: toEm($mobile)) {
            padding: toRem(80) toRem(0);
        }
        @media (max-width: toEm($mobileSmall)) {
            padding: toRem(60) toRem(0);
        }
    }
}

// =============================================================================================================

.hero {
    position: relative;
    @media (max-width: toEm(870)) {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: rgba(255, 255, 255, 0.9);
        }
    }
    // .hero__container
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: toRem(30);
        @media (max-width: toEm(870)) {
            flex-direction: column;
        }
    }
    // .hero__content
    &__content {
        flex: 1 0 toRem(540);
        @media (max-width: toEm($tablet)) {
            flex: 1 1 toRem(540);
        }
        @media (max-width: toEm(870)) {
            flex: 0 1 auto;
        }
    }
    // .hero__block-info
    &__block-info {
        &:not(:last-child) {
            margin-bottom: toRem(40);
            @media (max-width: toEm($mobileSmall)) {
                margin-bottom: toRem(30);
            }
        }
        @media (max-width: toEm(870)) {
            .block-info__text {
                color: #616161;
            }
        }
        @media (max-width: toEm($mobile)) {
            .block-info__wrapper {
                justify-content: center;
                text-align: center;
            }
        }
    }
    // .hero__links
    &__links {
        display: flex;
        align-items: center;
        gap: toRem(24);
        font-size: toRem(24);
        line-height: 1.6;
        @media (max-width: toEm($tablet)) {
            flex-direction: column;
            align-items: flex-start;
        }
        @media (max-width: toEm($mobile)) {
            align-items: center;
            gap: toRem(15);
        }
    }
    // .hero__button
    &__button {
        min-width: toRem(225);
        min-height: toRem(75);
        padding: toRem(18);
        color: #fff;
        background-color: #ff7235;
        text-align: center;
        border-radius: toRem(8);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: toRem(14);
        transition: all 0.3s;
        &::after {
            content: "";
            flex: 0 0 toRem(18);
            width: toRem(18);
            height: toRem(10);
            background: url("../img/icons/arrow-down-white.svg") 0 0 / contain no-repeat;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: #292830;
            }
        }
    }
    // .hero__app
    &__app {
        color: #bdbdbd;
        @media (max-width: toEm(870)) {
            color: #616161;
        }
    }
    // .hero__image
    &__image {
        flex: 0 1 toRem(538);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media (max-width: toEm(870)) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
        }
    }
}

// =============================================================================================================

.product {
    position: relative;
    background-color: #ff7235;
    overflow: hidden;
    &::before,
    &::after {
        content: "";
        position: absolute;
    }
    &::before {
        width: toRem(393);
        height: toRem(433);
        left: 0;
        bottom: 0;
        background: url("../img/decor/blob-left.webp") 0 0 / contain no-repeat;
    }
    &::after {
        width: toRem(416);
        height: toRem(453);
        right: 0;
        top: 0;
        background: url("../img/decor/blob-right.webp") 0 0 / contain no-repeat;
    }
    // .product__container
    &__container {
        position: relative;
        z-index: 1;
        padding-top: toRem(87);
        @media (max-width: toEm($mobile)) {
            padding-top: toRem(60);
        }
        @media (max-width: toEm(375)) {
            padding-top: toRem(40);
        }
    }
    // .product__image
    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

// =============================================================================================================

.brands {
    // .brands__container
    &__container {
    }
    // .brands__list
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: toRem(108);
        @media (max-width: toEm($tablet)) {
            column-gap: toRem(60);
        }
        @media (max-width: toEm($mobile)) {
            flex-wrap: wrap;
            column-gap: toRem(80);
            row-gap: toRem(20);
            justify-content: center;
        }
        @media (max-width: toEm($mobileSmall)) {
            column-gap: toRem(50);
        }
    }
    // .brands__item
    &__item {
        @media (max-width: toEm($mobile)) {
            max-width: toRem(150);
        }
        @media (max-width: toEm($mobileSmall)) {
            max-width: toRem(100);
        }
    }
    // .brands__logo
    &__logo {
        max-width: 100%;
        object-fit: contain;
    }
}

// =============================================================================================================

.features {
    // .features__container
    &__container {
        @media (max-width: toEm($mobileSmall)) {
            padding: 0;
        }
    }
    // .features__list
    &__list {
    }
    // .features__item
    &__item {
        @media (max-width: toEm($mobileSmall)) {
            padding: toRem(30) toRem(15);
        }
    }
}

.item-features {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: toRem(30);
    padding: toRem(140) toRem(0);
    &:nth-child(even) {
        flex-direction: row-reverse;
    }
    @media (max-width: toEm($pc)) {
        padding: toRem(100) toRem(0);
    }
    @media (max-width: toEm($tablet)) {
        padding: toRem(80) toRem(0);
    }
    @media (max-width: toEm(870)) {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: rgba(255, 255, 255, 0.9);
        }
        padding: toRem(30) toRem(15);
        margin: toRem(40) toRem(0);
    }
    // .item-features__block-info
    &__block-info {
        flex: 0 1 toRem(540);
        .block-info__sub-title,
        .block-info__text {
            color: #616161;
        }
    }
    // .item-features__image
    &__image {
        flex: 0 1 toRem(540);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
        @media (max-width: toEm(870)) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
        }
    }
}

// =============================================================================================================

.benefits {
    // .benefits__container
    &__container {
    }
    // .benefits__block-info
    &__block-info {
        &:not(:last-child) {
            margin-bottom: toRem(80);
            @media (max-width: toEm($tablet)) {
                margin-bottom: toRem(50);
            }
            @media (max-width: toEm($mobileSmall)) {
                margin-bottom: toRem(35);
            }
        }
        .block-info__wrapper {
            flex-wrap: nowrap;
            align-items: center;
            @media (max-width: toEm($mobile)) {
                flex-wrap: wrap;
            }
        }
        .block-info__text {
            flex: 0 0 toRem(350);
            @media (max-width: toEm($mobile)) {
                flex: 0 1 auto;
            }
        }
    }
    // .benefits__list
    &__list {
        display: flex;
        gap: toRem(30);
        @media (max-width: toEm($mobile)) {
            flex-wrap: wrap;
        }
        @media (max-width: toEm($mobileSmall)) {
            gap: toRem(15);
        }
    }
    // .benefits__item
    &__item {
        flex-basis: calc((100% - 60px) / 3);
        text-align: center;
        border-radius: toRem(12);
        @media (max-width: toEm($mobile)) {
            flex: 1 1 auto;
        }
    }
    // .benefits__link
    &__link {
        width: 100%;
        height: 100%;
        padding: toRem(63);
        transition: all 0.3s;
        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0 0 toRem(50) 0 rgba(0, 0, 0, 0.04);
                .benefits__arrow {
                    transform: scale(1);
                }
            }
        }
        @media (max-width: toEm($tablet)) {
            padding: toRem(30);
        }
        @media (max-width: toEm($pc)) {
            box-shadow: 0 0 toRem(50) 0 rgba(0, 0, 0, 0.04);
        }
    }
    // .benefits__icon
    &__icon {
        margin: 0 auto;
        width: toRem(64);
        height: toRem(64);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &--yellow {
            background-color: rgba(255, 190, 116, 0.05);
        }
        &--red {
            background-color: rgba(226, 89, 139, 0.05);
        }
        &--blue {
            background-color: rgba(77, 18, 238, 0.05);
        }
        img {
            width: toRem(24);
            height: toRem(24);
            object-fit: contain;
        }
        &:not(:last-child) {
            margin-bottom: toRem(24);
            @media (max-width: toEm($mobileSmall)) {
                margin-bottom: toRem(15);
            }
        }
    }
    // .benefits__title
    &__title {
        font-weight: 500;
        font-size: toRem(30);
        &:not(:last-child) {
            margin-bottom: toRem(12);
        }
        @media (max-width: toEm($mobileSmall)) {
            font-size: toRem(25);
        }
    }
    // .benefits__text
    &__text {
        color: #bdbdbd;
        font-size: toRem(14);
        line-height: 163%;
        &:not(:last-child) {
            margin-bottom: toRem(32);
            @media (max-width: toEm($mobileSmall)) {
                margin-bottom: toRem(20);
            }
        }
    }
    // .benefits__arrow
    &__arrow {
        transform: scale(0);
        transition: all 0.3s;
        @media (max-width: toEm($pc)) {
            transform: scale(1);
        }
    }
}

// =============================================================================================================
