// Colors
$mainTextColor: #212121;
// $secondaryTextColor: #ffffff;
// $accentColor: #026aa2;
// $mainBgColor: #065986;
// $secondaryBgColor: #0086c9;

// Breakpoints
$pc: 1199.98;
$tablet: 991.98;
$mobile: 767.98;
$mobileMedium: 574.98;
$mobileSmall: 479.98;
